<template>
  <div class="row cards">
    <div v-for="data in services" v-bind:key="data" class="col-sm-4">
      <ServiceComponent
        v-bind:serviceName="data.serviceName"
        v-bind:serviceDescription="data.serviceDescription"
        v-bind:serviceImgs="data.serviceImgs"
        v-bind:servicePrice="data.servicePrice"
        v-bind:id="data.id"
      />
    </div>
  </div>
</template>

<script>
import { defineComponent } from "vue";
import data from "../../public/data/servicesData.json";
import ServiceComponent from "@/components/ServiceComponent.vue";

export default defineComponent({
  name: "ServicesView",
  components: {
    ServiceComponent,
  },
  data: () => {
    return data;
  },
  metaInfo: {
    title: "Servicios: ",
  },
});
</script>


<style scoped>
</style>