<template>
  <div class="card">
    <div class="card-img">
      <div :id="id" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div
            v-for="images in serviceImgs"
            :key="images"
            :class="images.active ? 'carousel-item active' : 'carousel-item'"
          >
            <img
              :src="require('@/assets/' + images.url)"
              class="d-block w-100"
            />
          </div>
        </div>
        <button
          class="carousel-control-prev"
          type="button"
          :data-bs-target="'#' + id"
          data-bs-slide="prev"
        >
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button
          class="carousel-control-next"
          type="button"
          :data-bs-target="'#' + id"
          data-bs-slide="next"
        >
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
    <div class="card-body">
      <h5 class="card-title">{{ serviceName }}</h5>
      <p class="card-txt">
        {{ serviceDescription }}
      </p>
      <p>
        {{ servicePrice }}
      </p>
      <a
        class="btn btn-primary"
        href="https://wa.me/573125026399?text=Me%20gustaría%20contactar%20a%20la%20tuna"
        target="_blank"
      >
        Contratar
      </a>
    </div>
  </div>
</template>

<script lang="ts">
export default {
  props: {
    id: String,
    serviceName: String,
    serviceDescription: String,
    serviceImgs: [],
    servicePrice: String,
  },
};
</script>
    
<style scoped>
.cards {
  padding: 10px;
  
}

.card-img-top:hover {
  transform: scale(0.9);
  transition-duration: 500ms;
}

.card-img-top {
  height: 150px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.card {
  margin: auto;
  border-radius: 20px;
  padding: 0px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  height: 600px;
  margin-bottom: 15px;
  background-color: rgb(255, 249, 241);
}

.card .card-body .card-title {
  font-weight: bold;
}

.card-img {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.card .card-body {
  height: 300px;
}

.card .card-body .card-txt {
  text-align: justify;
}

.carousel:hover {
  transform: scale(1.1);
  transition-duration: 500ms;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.carousel-inner,
.carousel-item {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
</style>
