<template>
  <WhatsappButton />
  <NavBar />
  <CustomFooter />
</template>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}
</style>

<script lang="ts">
import { defineComponent } from "vue";
import NavBar from "@/components/NavBar.vue"; // @ is an alias to /src
import CustomFooter from "@/components/CustomFooter.vue";
import WhatsappButton from "@/components/WhatsappButton.vue";

export default defineComponent({
  name: "App",
  components: {
    NavBar,
    CustomFooter,
    WhatsappButton,
  },
  metaInfo: {
    title: "Tuna de la Ean",
    titleTemplate: "%s | Tuna de la Ean",
    htmlAttrs: {
      lang: "es-CO",
    },
    meta: [
      { charset: "utf-8" },
      {
        name: "description",
        content:
          "Página web de la tuna de la ean, contactanos para tener lo mejor de la música universitaria",
      },
    ],
  },
});
</script>
